.navbar {
  background-color: $color-red;
  height: 5rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  &__menu {
    width: 120rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 1.5rem;

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-left: 2rem;
      }

      a,
      a:link,
      a:visited {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}
