/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet Landscape
(1200 - 1800) is where our normal styles apply
1800px+:       Big Desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.align-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items__arrow {
  margin-left: 1rem;
}

.align-items__icon {
  margin-right: 0.75rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.btn--comp {
  background-color: #28a745;
  width: 12rem;
}

.btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: white;
  color: black;
}

.btn-block {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.select-group {
  width: 30rem;
  margin-right: 2rem;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form__control {
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0.4rem;
  width: 15em;
  height: 3.4rem;
  padding: 0.6rem 1.2rem;
  margin-left: 2rem;
  display: block;
  color: #545454;
  font-size: 1.4rem;
  line-height: 1.42857143;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form__submit {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-group {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.panel {
  background-color: white;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel__default {
  border-color: #dedede;
}

.panel__default > .panel__heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel__heading {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: 500;
}

.panel__title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}

.panel__body {
  padding: 1.5rem;
}

.table {
  background-color: transparent;
  width: 100%;
  border-collapse: collapse !important;
  border-spacing: 0;
}

.table__logo img {
  max-width: 6rem;
  max-height: 4.5rem;
}

.table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
  background-color: white !important;
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table__striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
  background-color: red;
}

.table__striped tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
  background-color: red;
}

.tipping-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tip {
  background-color: whitesmoke;
  border: 1px #cccccc solid;
  width: 100%;
  height: 7rem;
  margin-top: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tip__input {
  margin: 0 2rem;
}

.tip__home, .tip__away {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tip__home > *, .tip__away > * {
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 6rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-align: center;
}

.tip__home {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tip__away {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tip__check {
  color: green;
  font-size: 2rem;
}

.tip__logo img {
  max-width: 6rem;
  max-height: 4.5rem;
}

.tip__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.side-table {
  width: 30vw;
}

.footer {
  background-color: #333333;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copyright {
  color: white;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}

@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}

@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 6rem * 2) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 6rem * 3) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 6rem * 3) / 4) + (2 * 6rem));
}

.header {
  background-color: #007bff;
  padding: 20px 0;
  border-bottom: 1px solid black;
  margin-bottom: 60px;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.header__logo {
  font-size: 2.5rem;
  font-weight: 500;
}

.header__logo a {
  color: white;
}

.header nav {
  width: 96rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.main {
  min-height: calc(100vh - 20rem);
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  background-color: #e74c3c;
  height: 5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__menu {
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.5rem;
}

.navbar__menu ul {
  list-style: none;
}

.navbar__menu ul li {
  display: inline-block;
  margin-left: 2rem;
}

.navbar__menu ul a,
.navbar__menu ul a:link,
.navbar__menu ul a:visited {
  color: white;
  text-decoration: none;
}

.article-comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-comp__chart {
  width: 80%;
}

.article-comp__button {
  margin-top: 2rem;
}

.article-comp__button a {
  color: white;
}

.article-dashboard {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.article-dashboard__box {
  -webkit-box-shadow: 0px 0px 0.5rem black;
          box-shadow: 0px 0px 0.5rem black;
  border-radius: 5rem;
  margin-top: 5rem;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.article-dashboard__box > * {
  min-width: 35rem;
  min-height: 45rem;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.article-dashboard .heading {
  font-size: 4.5rem;
}

.article-dashboard__icon {
  margin-bottom: 1rem;
  color: #007bff;
  font-size: 7rem;
}

.article-dashboard__demo {
  background-color: #007bff;
}

.article-dashboard__demo > * {
  margin-top: 1rem;
}

.section-login {
  border: 1px solid black;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-login > * {
  width: 40rem;
  height: 35rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-login__heading {
  margin-bottom: 3.5rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.section-login__details {
  border-right: 1px dotted black;
}

.section-login__register {
  color: black;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-login__register a {
  text-decoration: none;
}

.section-register {
  width: 80rem;
  height: 35rem;
  border: 1px dotted black;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-register > * {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.section-register__details {
  border-right: 0.5px dotted black;
}
/*# sourceMappingURL=main.css.map */