.tipping-container {
  // width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tip {
  background-color: $color-white-50;
  border: 1px $color-white-200 solid;
  width: 100%;
  height: 7rem;
  margin-top: 1rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    margin: 0 2rem;
  }

  &__home,
  &__away {
    width: 20rem;
    display: flex;

    & > * {
      margin-left: 1rem;
      margin-right: 1rem;
      min-width: 6rem;

      display: grid;
      place-content: center;

      text-align: center;
    }
  }

  &__home {
    justify-content: flex-start;
    // text-align: left;
  }

  &__away {
    justify-content: flex-end;
    // text-align: right;
  }

  &__check {
    color: green;
    font-size: 2rem;
  }

  &__logo {
    img {
      max-width: 6rem;
      max-height: 4.5rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1rem;
  }

  // @include respond(tab-port) {
  //   &__home,
  //   &__away {
  //     width: 15rem;
  //   }
  // }
}
