.section-login {
  // background-color: $color-white-200;
  border: 1px solid $color-black;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    width: 40rem;
    height: 35rem;
    padding: 2rem;
    // border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    margin-bottom: 3.5rem;

    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

  &__details {
    border-right: 1px dotted $color-black;
  }

  &__demo {
  }

  &__register {
    color: $color-black;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
    }
  }
}
